<div class="container">
  <div class="row">
    <div class="col-12  text-center">
      <h3>
        Videoer
      </h3>
      <video-menu></video-menu>
      <hr class="mt-1 mb-2">
    </div>
  </div>
  <div class="row" *ngIf="videos">
    <div class="col-12">
      <div class="card-columns" [@listAnimation]="videos.length">
        <div class="card" *ngFor=" let video of videos">
          <a routerLink="/video/{{video.id.videoId}}">
            <img class="card-img-top" [src]="video.snippet.thumbnails.medium.url" [width]="video.snippet.thumbnails.medium.width" [height]="video.snippet.thumbnails.medium.height">
            <div class="card-body">
                <h5 class="card-title">{{ video.snippet.title }}</h5>
              </div>            
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- 

  <div class="row" *ngIf="set && set.photos">
      <div class="col-12">
        <div  class="card-columns" [@listAnimation]="set.photos.length">
          <div class="card" *ngFor="let image of set.photos.photo">
            <a class="sec-links" routerLink="/bilde/{{image.id}}">
              <img [src]="image.url_s" [alt]="image.title" [title]="image.title" class="card-img-top">
            </a>
          </div>
        </div>
      </div>
    </div>
 -->

</div>
