<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="bigtext biglinks">Terje Nesthus</div>
    </div>
  </div>
  <hr>

  <div class="row text-center">
    <div class="col-4 h5">
      <a href="tel:+4748216310" class="biglinks">
        +47 48216310
      </a>
    </div>
    <div class="col-4 h5">
      <a href="mailto:terje@nesthus.no" class="biglinks">
        terje@nesthus.no
      </a>
    </div>
    <div class="col-4 h5">
      <span class="biglinks">
        Osavegen 28, 5700 Voss
      </span>
    </div>
  </div>
  <hr>
</div>
