<nav class="navbar navbar-dark bg-dark mb-1">
  <a class="navbar-brand" routerLink="">Nesthus.no</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" routerLink="posts">Posts</a>
      <a class="nav-item nav-link" routerLink="tur/googlemaps">Google maps</a>
      <a class="nav-item nav-link" routerLink="photos/galleries">Sets</a>
      <a class="nav-item nav-link" routerLink="photos/feed">Feed</a>
      <a class="nav-item nav-link" routerLink="photos/search">Search</a>
      <a class="nav-item nav-link" routerLink="/welcome">Welcome
        <i class="fab fa-medium"></i>
      </a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/ekstremedia" target="_blank">
        <i class="fab fa-github github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/TerjeNesthus" target="_blank">
        <i class="fab fa-twitter tweetfarge"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.facebook.com/tehthird" target="_blank">
        <i class="fab fa-facebook-square fbfarge"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.youtube.com/channel/UC4UfvK9wdcZ8HKYfCCb_fWg" target="_blank">
        <i class="fab fa-youtube ytfarge"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.instagram.com/ekstremedia/" target="_blank">
        <i class="fab fa-instagram instagram"></i>
      </a>
    </div>
  </div>
</nav>