<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark mb-1">
  <button #navbarToggler class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="">Sortland Byportal {{v}} </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" [ngClass]="{active: this.router.url==='/welcome'}">
        <a class="nav-item nav-link" (click)="collapseNav()" routerLink="/welcome">Welcome</a>
      </li>
      <li class="nav-item" [ngClass]="{active: (this.router.url==='/bedrifter' || this.router.url.substring(0,9)==='/bedrift/')}">
        <a class="nav-item nav-link" (click)="collapseNav()" routerLink="/bedrifter">Bedrifter <i class="fas fa-building fdv-3"></i></a>
      </li>
      <li class="nav-item" [ngClass]="{active: this.router.url==='/bedrift/fdvhuset-as'}">
        <a class="nav-item nav-link" (click)="collapseNav()" routerLink="/bedrift/fdvhuset-as">FDVhuset <img src='/assets/fdv32.png'></a>
        <!-- <i class="fdv-1 fas fa-check fa-rotate-270 "></i> -->
      </li>


      <!-- <li class="nav-item" [ngClass]="{active: this.router.url==='/blog'}">
        <a class="nav-item nav-link" (click)="collapseNav()" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item" [ngClass]="{active: this.router.url==='/videos/all'}">
        <a class="nav-item nav-link" (click)="collapseNav()" routerLink="videos/all">Videos</a>

      </li>
      <li class="nav-item" [ngClass]="{active: this.router.url==='/tur/googlemaps'}">
        <a class="nav-item nav-link" (click)="collapseNav()" routerLink="tur/googlemaps">Google maps</a>

      </li>
      <li class="nav-item" [ngClass]="{active: this.router.url==='/photos/galleries'}">
        <a class="nav-item nav-link" (click)="collapseNav()" routerLink="photos/galleries">Sets</a>

      </li>
      <li class="nav-item" [ngClass]="{active: this.router.url==='/photos/feed'}">
        <a class="nav-item nav-link" (click)="collapseNav()" routerLink="photos/feed">Feed</a>

      </li>
      <li class="nav-item" [ngClass]="{active: this.router.url==='/posts'}">
        <a class="nav-item nav-link" (click)="collapseNav()" routerLink="posts">Posts</a>

      </li>
      <li class="nav-item" [ngClass]="{active: this.router.url==='/photos/search'}">
        <a class="nav-item nav-link" (click)="collapseNav()" routerLink="photos/search">Search</a>
 
      </li> -->
      <li class="nav-item" [ngClass]="{active: this.router.url==='/aurora'}">
        <a class="nav-item nav-link" (click)="collapseNav()" routerLink="/aurora">Nordlys  <img src='/assets/aurora24.png'> </a>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Terje  <i class="fas fa-grin-wink text-white"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="terje"><i class="fas fa-user-circle text-primary"></i> Om meg</a>
            <a class="dropdown-item" routerLink="photos/set/72157658887224378"><i class="fas fa-image text-primary"></i> Fotografi</a>
            <a class="dropdown-item" routerLink="/videos/all"><i class="fas fa-video text-primary"></i> Video</a>
          </div>
        </li>


      <li class="nav-item" [ngClass]="{active: this.router.url==='/leggtil/bedrift'}" *ngIf="authService.isLoggedIn() && authService.currentUser">
        <a class="nav-item nav-link text-warning" (click)="collapseNav()" routerLink="/leggtil/bedrift">Legg til bedrift <i class="far fa-plus-square text-success"></i></a>
      </li> 
      <li class="nav-item" [ngClass]="{active: this.router.url==='/login'}" *ngIf="!authService.isLoggedIn()">
        <a class="nav-item nav-link" (click)="collapseNav()" routerLink="/login">Logg inn <i class="fas fa-sign-in-alt align-middle text-success"></i></a>
      </li>

      <li class="nav-item" [ngClass]="{active: this.router.url==='/logout'}" *ngIf="authService.isLoggedIn() && authService.currentUser">
        <a class="nav-item nav-link  text-warning cp" (click)="collapseNav()" (click)="authService.logout()">Logg ut <i class="fas fa-sign-out-alt align-middle text-warning"></i></a>
      </li>




    </ul>
    <form class="form-inline my-2 my-lg-0">

      <a class="nav-item nav-link" href="https://github.com/ekstremedia" target="_blank">
        <i *ngIf="this.router.url==='/bedrift/fdvhuset-as'" class="fas fa-heart" style="color: hotpink;" data-toggle="tooltip" data-placement="right" title="Hire me!"></i>
      </a>
      <a class="nav-item nav-link" href="https://github.com/ekstremedia" target="_blank">
        <i class="fab fa-github github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/TerjeNesthus" target="_blank">
        <i class="fab fa-twitter tweetfarge"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.facebook.com/tehthird" target="_blank">
        <i class="fab fa-facebook-square fbfarge"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.youtube.com/channel/UC4UfvK9wdcZ8HKYfCCb_fWg" target="_blank">
        <i class="fab fa-youtube ytfarge"></i>
      </a>

      <a class="nav-item nav-link" href="https://www.instagram.com/ekstremedia/" target="_blank">
        <i class="fab fa-instagram instagram"></i>
      </a>
    </form>
  </div>
</nav>
