<div class="container" *ngIf="video">
  <div class="row">
    <div class="col-12 text-center">
      <h3>
        {{ video.title }}
      </h3>
      <video-menu></video-menu>
      <hr class="mt-1 mb-2">
    </div>
  </div>

</div>

<div class="container-fluid">

  <div class="row">
    <div class="col " *ngIf="video && videoid">

    </div>
  </div>
  <div class="row">
    <div class="col-xl-8 col-lg-8 mx-auto">
      <div class="video-container">
        <youtube-player protocol="http" [videoId]="videoid" (ready)="savePlayer($event)" (change)="onStateChange($event)" width='auto'
          height='auto'></youtube-player>
      </div>
      <small style="cursor: pointer;">
          <a (click)="startVid()">{{spillpause}}</a>
        </small>
      <div *ngIf="video && video.description" class="text-muted" [innerHTML]="video.description">
      </div>
    </div>
  </div>
</div>