<div *ngIf="business" class="container">
  <div class="row">
    <div class="col-12">
      <a routerLink="/bedrift/{{business.slug}}" class="biglinks encode bigtext">
        {{business.title}}
      </a>

    </div>

  </div>



  <ngb-tabset>

    <ngb-tab>
      <ng-template ngbTabTitle><span class="biglinks"><span class="d-none d-sm-inline">Info </span> <i class="fas fa-info-circle fdv-2"></i>
        </span></ng-template>
      <ng-template ngbTabContent>
        <div class="row">
          <div class="col-xl-7 col-lg-7 col-sm-7 col-xs-12 col-sm-12">
            <div class="row pt-1 pl-3" *ngIf="authService.isLoggedIn()">
                <div class="col">
                <a class="biglinks text-warning" href="/sortland/backend/ekstremedia/nesthus/business/update/{{business.id}}" target="_blank"
                  placement="top" ngbTooltip="Rediger bedrift. Åpnes i nytt vindu.">Rediger denne bedriften</a>
              </div>
            </div>
            <div class="row pt-1 pl-3">
              <div class=" col-xl-3 col-lg-3 col-md-3 col-xs-12 col-sm-12 infotittel">Åpen nå</div>
              <div class="col-9">
                <div *ngIf="this.data.openNo(business)" class="openo">Ja</div>
                <div *ngIf="!this.data.openNo(business)">Nei</div>
              </div>
            </div>

            <div class="row pt-1 pl-3" *ngIf="business.businesscategory && business.businesscategory[0]">
              <div class=" col-xl-3 col-lg-3 col-md-3 col-xs-12 col-sm-12 infotittel">Kategori</div>
              <div class="col-7">
                <div *ngFor="let cat of business.businesscategory">
                  <a routerLink="/kategori/{{cat.slug}}" class="biglinks encode">{{cat.title}}</a>
                </div>
              </div>
            </div>


            <div class="row pt-3 pl-3" *ngIf="business.phone">
              <div class=" col-xl-3 col-lg-3 col-md-3 col-xs-12 col-sm-12 infotittel">Telefon</div>
              <div class="col-9">
                <ng-template #tlfPopup class=" m-2 pt-2 "><i class="fas fa-phone-square text-primary"></i> Ring til <b>{{business.title}}</b>!</ng-template>
                <a class="biglinks" href="tel:{{business.phone}}" [ngbTooltip]="tlfPopup">{{business.phone}}</a>
              </div>
            </div>

            <div class="row pt-1 pl-3" *ngIf="business.homepage">
              <div class=" col-xl-3 col-lg-3 col-md-3 col-xs-12 col-sm-12 infotittel">Hjemmeside</div>
              <div class="col-9">
                <a class="biglinks encode" href="{{business.homepage}}" target="_blank"> {{
                  (business.homepage.length>40)? (business.homepage | slice:0:40)+'...':(business.homepage) }} </a>
              </div>
            </div>

            <div class="row pt-1 pl-3" *ngIf="business.address">
              <div class=" col-xl-3 col-lg-3 col-md-3 col-xs-12 col-sm-12 infotittel">Addresse</div>
              <div class="col-9">
                {{business.address}}
              </div>
            </div>

            <div class="row pt-1 pl-3" *ngIf="business.homepage">
              <div class=" col-xl-3 col-lg-3 col-md-3 col-xs-12 col-sm-12 infotittel">Google_ID</div>
              <div class="col-6">
                {{business.google_id}}
              </div>
            </div>

            <div class="row pt-1 pl-3" *ngIf="business.rating">
              <div class=" col-xl-3 col-lg-3 col-md-3 col-xs-12 col-sm-12 infotittel">Rating</div>
              <div class="col-6">
                <ng-template #t2 let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                  </span>
                </ng-template>
                <ngb-rating [starTemplate]="t2" [readonly]="true" max="5" [rate]="business.rating"></ngb-rating>
                ({{business.rating}})
              </div>
            </div>


            <div class="row pt-1 pl-3" *ngIf="business.type">
              <div class=" col-xl-3 col-lg-3 col-md-3 col-xs-12 col-sm-12 infotittel">Type</div>
              <div class="col-6">
                <div *ngFor="let type of business.type.split(', ')">
                  <a routerLink="/bedrifter/{{type}}" class="biglinks encode">{{type}}</a>
                </div>
              </div>
              <div class="col-1">
                <img *ngIf="business.icon" [src]="business.icon" width="32">
              </div>
            </div>

          </div>
          <div class="col-xl-5 col-lg-5 col-sm-5 col-xs-12 col-sm-12 pt-3  mx-auto text-center">
            <img *ngIf="business.business_logo && business.business_logo[0]" [src]="business.business_logo[0].path"
              class="img-fluid">

          </div>
        </div>



      </ng-template>
    </ngb-tab>



    <ngb-tab *ngIf="map_url">
      <ng-template ngbTabTitle>
        <span class="biglinks">
          <span class="d-none d-sm-inline">Kart </span> <i class="fas fa-map-marker-alt fdv-2"></i>
        </span></ng-template>
      <ng-template ngbTabContent>
        <iframe [src]='mapURL()' *ngIf="map_url" class="w-100 mt-3" height="400">

        </iframe>
      </ng-template>
    </ngb-tab>


    <ngb-tab>
      <ng-template ngbTabTitle><span class="biglinks"><span class="d-none d-md-inline">Åpningstider </span> <i class="fas fa-clock fdv-2"></i></span></ng-template>
      <ng-template ngbTabContent>
        <table class="table table-hover table-striped">
          <thead class="thead-inverse|thead-default">
            <tr>
              <th>Dag</th>
              <th>Åpner</th>
              <th>Stenger</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="(business.mon_open!==null && business.mon_closed!==null)">
              <td>Mandag</td>
              <td>{{ business.mon_open }}</td>
              <td>{{ business.mon_closed }}</td>
            </tr>
            <tr *ngIf="(business.tue_open!==null && business.tue_closed!==null)">
              <td>Tirsdag</td>
              <td>{{ business.tue_open }}</td>
              <td>{{ business.tue_closed }}</td>
            </tr>
            <tr *ngIf="(business.wed_open!==null && business.wed_closed!==null)">
              <td>Onsdag</td>
              <td>{{ business.wed_open }}</td>
              <td>{{ business.wed_closed }}</td>
            </tr>
            <tr *ngIf="(business.thu_open!==null && business.thu_closed!==null)">
              <td>Torsdag</td>
              <td>{{ business.thu_open }}</td>
              <td>{{ business.thu_closed }}</td>
            </tr>
            <tr *ngIf="(business.fri_open!==null && business.fri_closed!==null)">
              <td>Fredag</td>
              <td>{{ business.fri_open }}</td>
              <td>{{ business.fri_closed }}</td>
            </tr>
            <tr *ngIf="(business.sat_open!==null && business.sat_closed!==null)">
              <td>Lørdag</td>
              <td>{{ business.sat_open }}</td>
              <td>{{ business.sat_closed }}</td>
            </tr>
            <tr *ngIf="(business.sun_open!==null && business.sun_closed!==null)">
              <td>Søndag</td>
              <td>{{ business.sun_open }}</td>
              <td>{{ business.sun_closed }}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="google && google.photos">
      <ng-template ngbTabTitle><span class="biglinks"><span class="d-none d-sm-inline">Bilder </span> <i class="fas fa-image fdv-2"></i></span></ng-template>
      <ng-template ngbTabContent>
        <div *ngIf="google.photos">
          <div class="row">
            <div class="col-12">
              <br>
              <div class="card-columns">
                <div class="card" *ngFor="let photo of google.photos">
                  <img class="card-img-top " [src]="'https://maps.googleapis.com/maps/api/place/photo?maxwidth=324&photoreference='+photo.photo_reference+'&key=AIzaSyBxZYWHG0d9nWpyyvHOKVG4KiX7qpQxlz8'"
                    [alt]="photo.html_attributions[0]" [title]="photo.html_attributions[0]">
                  <div class="card-body">
                    <h4 class="card-title" [innerHTML]="'Bilete: '+photo.html_attributions[0]"></h4>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="business.rating">
      <ng-template ngbTabTitle><span class="biglinks">
          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
            </span>
          </ng-template>

          <ngb-rating [(rate)]="business.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

        </span></ng-template>
      <ng-template ngbTabContent>
        <div *ngIf="google && google.reviews">
          <ul class="list-unstyled">
            <li class="media p-3" *ngFor="let review of google.reviews">
              <img class="d-flex mr-3" [src]="review.profile_photo_url" [alt]="review.author_name" [title]="review.author_name">
              <div class="media-body">
                <h5 class="mt-0 mb-1">{{ review.author_name }}</h5>
                <ngb-rating [starTemplate]="t" [readonly]="true" max="5" [rate]="review.rating"></ngb-rating>
                <br> {{ review.text }}
              </div>
            </li>
          </ul>
        </div>
      </ng-template>
    </ngb-tab>



  </ngb-tabset>



</div>
