<div class="container">
  <div class="row mt-3 pt-3">
    <div class="col-6">
      <a class="biglinks" routerLink="/terje">Terje Nesthus</a><br>
      Osavegen 28, 5704 Voss
    </div>
    <div class="col-6 text-right">
      Torsdag 11. September 2018<br>
      <a class="biglinks" href="tel:48216310">+47 48216310</a><br>
      <a class="biglinks" href="mailto:terje@nesthus.no">terje@nesthus.no</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <br>
      <a class="biglinks" routerLink="/bedrift/fdvhuset-as">FDVhuset</a>,<br>
      Kjøpmannsgata 22, 8400 Sortland
    </div>
  </div>
  <div class="row">
    <div class="col-12 pt-3">
      <span class="bt">
        Søknad på stilling som webutvikler / medarbeider hos FDVhuset
      </span>
      <div class="tnhr2 p-0 m-0"></div>
      <br>
      <a class="biglinks" routerLink="/terje">Jeg</a> søker herved med stor iver på en jobb hos <a class="biglinks"
        routerLink="/bedrift/fdvhuset-as">FDVhuset</a>.
      Grunnen til at jeg har valgt å søke hos dere, er at jeg har et par drømmer.
      Den ene er å flytte til Nord-Norge, og den andre er å få jobbe med <a class="biglinks" routerLink="/webutvikling">webutvikling</a>.
      Etter å ha undersøkt litt og forhørt meg rundtom har jeg da blitt tipset om <a class="biglinks" routerLink="/bedrift/fdvhuset-as">FDVhuset</a>.
      Har hørt at det er en lovende bedrift i vekst.
      Samtidig er det nært min mor, som har giftet seg med en nordlending og nå er bosatt i Digermulen, en knapp time
      unna Sortland. Å være nærmere familie er en ting, men har også drømt om å bo i Nord i mange år. På grunn av
      lyset, den fantastiske naturen og de trivelige folkene.
      Gikk på <a href="http://www.andoy.vgs.no/utdanningsprogram/yrkesfaglig/romteknologi-vg3/" target="_blank" class="biglinks">Andøya
        VGS VG3: Romteknologi</a> i 2008 og har savnet Nordland siden den gang.
      <br><br>
      For å vise ekstra interesse så valgte jeg å lage søknaden min som en liten nettside som bruker noen forskjellige
      rammeverk: en <a class="biglinks" routerLink="/bedrifter">byportal over Sortland</a>,
      <a class="biglinks" routerLink="/bilder">bildegalleri</a> med bilder fra flickr, <a class="biglinks" routerLink="/tjenester/stillinger">stillinger
        fra NAV</a>
      og <a class="biglinks" routerLink="/aurora">nordlysaktivitet</a> bare for morro skyld. Her er det brukt API fra
      Google, flickr, NAV og NOAA, samt <a class="biglinks" routerLink="/bedrifter">bedrift-delen</a>
      som jeg har bygget selv fra grunnen av. Den tok ca en uke å lage og ville gjøre dette for å bevise mine
      kunnskaper over flere områder.
      <br><br>
      Har ikke jobbet med webutvikling i selskap før, har stort sett jobbet innenfor serviceyrket. Har heller ikke noen
      relevant utdanning, er stort sett selvlært, har lest mye og sett en del video-kurs online.
      De siste årene mine har vært ganske tunge, falt litt utenfor arbeidslivet og har vært uten jobb i 3-4 år, litt av
      og på. Slet med depresjon og dårlig form, men har klart å komme meg ut av det. I dag trener
      jeg tre ganger i uken og går tur hver dag. Humøret er bra og jeg er nå på vei ut i arbeidslivet igjen i samarbeid
      med et lokalt selskap som hjelper med arbeidsformidling, muligens noe lignende som
      <a class="biglinks" routerLink="/bedrift/vesteralsprodukter-as">Vesterålsprodukter</a> gjør på Sortland.
      <br><br>
      Men uansett så har jeg såpass lyst å flytte til Nord at jeg satte meg ned og lagde denne søknaden. Nå har jeg
      ikke funnet noen <a class="biglinks" routerLink="/tjenester/stillinger">ledige stillinger</a>
      fra dere, men ville prøve for det om. Kanskje jeg kunne begynt som arbeidstrening hos dere via NAV? Er jo bosatt på Voss nå, og må jo selvsagt da flytte, men er klar for å sette i gang denne prosessen.
      <br><br>
      Ser på meg selv som en voksen og moden, vennlig, høflig og ærlig 36-åring. Har humor og medfølelse. Klarer å
      tenke meg frem til løsninger og kan fort lære meg nye ting.
      Ser også på meg selv som en kar som kan bidra med mye unikt til et lite miljø som Sortland og Nordland i seg
      selv. Gi meg en sjanse, jeg vil være med og lage fantastiske websystemer for fremtiden med dere i
      <a class="biglinks" routerLink="/bedrift/fdvhuset-as">FDVhuset</a>.
      <br><br>
      Håper å høre fra dere på  <a href="tel:+4748216310" class="biglinks">telefon</a> eller  <a href="mailto:terje@nesthus.no" class="biglinks">epost</a> hvis dette skulle være interessant.<br><br>
      Med vennlig hilsen,<br>
      Terje Nesthus<br>
      <div class="finskrift text-left">
      <a class="biglinks h4" routerLink="/terje">
        Terje Nesthus
      </a>
      </div>
    </div>
  </div>
</div>
