<button type="button" name="" id="" class="btn btn-primary" (click)="runAnim()">
    runAnim()
</button>
<div *ngIf="flickrFeed" class="container-fluid">
  <!-- <ngx-masonry useImagesLoaded="true" updateLayout="false"  [options]="{ transitionDuration: '2s' }">
      <ngxMasonryItem class="masonry-item" *ngFor="let image of flickrFeed">
          <a routerLink="/photo/{{idof(image.link)}}">
          <span class="bt">{{ image.title }}</span>
        </a>
        <br> {{image.date_taken | date }}

        <br>
        <div class="flickImgBox">
            <a routerLink="/photo/{{idof(image.link)}}">
          <img [src]="image.media.m" [alt]="image.title" [title]="image.title">
        </a>
      </div>  
      </ngxMasonryItem>
    </ngx-masonry> -->

  <div class="row" [@listAnimation]="flickrFeed.length">

    <div *ngFor="let image of flickrFeed" class=" col-3 text-center">
      <a routerLink="/photo/{{idof(image.link)}}">
        <!-- <span class="bt">{{ image.title }}</span> -->
      </a>
      <br>
      <div class="">
        <a routerLink="/photo/{{idof(image.link)}}">
          <img [src]="image.media.m" [alt]="image.title" [title]="image.title" class="animg">
        </a>
      </div>
    </div>

  </div>

</div>