<div class="container">
  <div class="row">
    <div class="col-12  text-center">
      <h3 *ngIf="!set" class="text-muted">
        Lastar bildesett <i class="fas fa-spinner fa-spin loading-color"></i>
      </h3>
      <h3 *ngIf="set">
        {{set.title}}
      </h3>
      <photo-menu></photo-menu>
      <hr class="mt-1 mb-2">
    </div>
  </div>
  <div *ngIf="setId">
    <div *ngIf="set">
      <span class="text-muted">
        <span class="tb"> {{set.total}}</span> photos , ID: {{setId.id}} </span>
      <!-- <ngx-masonry>
      <ngxMasonryItem class="masonry-item" *ngFor="let image of set.photo">

        <a routerLink="/photo/{{image.id}}">
          <span class="bt">{{ image.title }}</span>
        </a>
        <br>
        <span *ngIf="image.datetaken">{{ image.datetaken | date }}</span>
        <span *ngIf="image.views>0">,
          <span class="tb">{{ image.views }}</span> views</span>
        <span *ngIf="image.count_comments>0" class="text-success">, {{ image.count_comments }} comments</span>
        <div class="flickImgBox">
          <a routerLink="/photo/{{image.id}}">
            <img [src]="image.url_s" [alt]="image.title" [title]="image.title">
          </a>
        </div>


      </ngxMasonryItem>
    </ngx-masonry> -->

      <div class="row" [@listAnimation]="set.photo.length">

        <div class=" col-3 text-center" *ngFor="let image of set.photo">

          <a class="sec-links" routerLink="/photo/{{image.id}}">
            <!-- <span class="">{{ image.title }}</span> -->
          </a>
          <br>
          <!-- <span *ngIf="image.datetaken">{{ image.datetaken | date }}</span>
          <span *ngIf="image.views>0">,
            <span class="tb">{{ image.views }}</span> views</span> -->
          <span *ngIf="image.count_comments>0" class="text-success">, {{ image.count_comments }} comments</span>
          <div class="">
            <a class="sec-links" routerLink="/photo/{{image.id}}">
              <img [src]="image.url_s" [alt]="image.title" [title]="image.title">
            </a>
          </div>

        </div>
      </div>



    </div>
  </div>
</div>
