<div class="container">
  <div class="row">
    <div class="col-12">
      <span class="bigtext biglinks">Webutvikling</span>
      <hr>
    </div>
    <div class="col-12">
      Har dessverre ikke så mye konkret å vise til når det gjelder ferdiglagde nettsider. Har en enkel, halvferdig
      hjemmeside til en
      <a href="http://bruktn.no" target="_blank" class="biglinks">brukthandler på Voss</a>. Det eneste interessante her
      er vel at jeg lagde en fungerende
      <a href="http://bruktn.no/bokscanner-app" target="_blank" class="biglinks">bokscanner-app</a> til Android som
      ikke har blitt tatt skikkelig i bruk enda. Den er laget i
      <a href="https://ionicframework.com/" target="_blank" class="biglinks">Ionic framework</a>, som er basert på <a
        href="https://angular.io/" target="_blank" class="biglinks">
        Angular</a>.
      <br><br>
      For noen år siden siktet jeg meg inn på et annet selskap, da i Svolvær, men gjorde aldri ferdig søknaden. Det var
      ett litt lignende prosjekt som dette, og
      <a href="https://ekstremedia.no/ab/" target="_blank" class="biglinks">kan sees her</a>. Det viser blant annet
      litt Greensock-animasjoner og Angular+Laravel.
      <br><br>
      Det siste året har jeg utviklet et system som var en suksess, men endte opp som en sørgelig sak. Det var en
      kalender over alle eventer på Voss,
      <a href="https://www.vosskulturkalender.no/" target="_blank" class="biglinks">Voss Kulturkalender</a>. Den brukte
      API som hentet eventer fra både DX og Facebook hver dag, fra alle relevante Facebook-pages, og
      sorterte de og la de ut i en kalender, alt automatisk 3 ganger for dagen. Men så skjedde Cambridge
      Analyica-skandalen i USA, og
      etter det får jeg ikke hentet ut hendinger fra Facebook lenger. Det er
      usikkert på om det noensinne blir mulig igjen, i følge utviklermanualene. Etter hva jeg forstår er det for tiden
      bare større selskap som får tilgang, men håper jo at dette endrer seg.
      Men det rendret jo min tjeneste omtrent ubrukelig. Nå er det kun eventer fra DX.no, som er Kino og Bibliotekets
      hendinger. Ideen var iallefall god og fungerte godt, frem til Cambridge Analytica.
      <br><br>
      Hadde i mange år et slags festival-informasjonssytem for  <a href="https://vossajazz.no" target="_blank" class="biglinks">Vossa Jazz</a>, se
      <a href="https://ekstremedia.no/ab/terjeflix/glo/fis" target="_blank" class="biglinks">video for demonstrasjon
        her</a>. Det inneholdt informasjon om artister, artistverter, sjåfører, biler, turer, konserter, lydprøver, alt mulig innenfor festival.
        Men iogmed at jeg utviklet ny versjon hvert år, med nye bugs og alltid var alene om utviklingen så valgte de til slutt å bruke en litt proffere løsning enn min. Det var laget først i CodeIgniter, deretter i Laravel.
      <br><br>
      Har også en enkel webside for en pizzarestaurant, <a href="https://www.alpino.no/" target="_blank" class="biglinks">Alpino
        Pizza</a> på Voss.
      <br><br>
      Design er ikke helt min ting, selv om jeg gjerne skulle ønske det. Tar derfor heftig i bruk juks som Bootstrap.
     Utvikling og koding er mer min ting, og skulle heller gjerne skulle ha jobbet sammen med en designer istedenfor.
      Har mye kunnskap og erfaring, men det er vanskelig å være helt alene med alt, og håper på å kunne få jobbe sammen
      i et strukturert team.
      Har dessverre ikke jobberfaring annet enn realerfaring og håper å kunne få en fot innendørs via dette.
    </div>
  </div>
</div>
